body {
  height: 100vh;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

.a {
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #006f8b;
  box-shadow: 0 0px 6px #006f8b;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}
.a:hover {
  transform: scale(1.1);
  color: white;
}
